body {
    margin: 2%;
    horizontal-align: middle;
}

.hidden {
    display: none;
}

.button {
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #ccc;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.disabled {
    background-color: #999;
    cursor: default;
}


